.criar {
    max-width: 55rem;
    margin: 2rem auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 90px;
    gap: 0.75rem;
    align-items: center;
    margin-top: -1.75rem;
}

.criar button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    box-sizing: border-box;
    cursor: pointer;

    background: var(--dark-blue);
    border: 0;
    border-radius: 8px;
    color: var(--gray-100);
    padding: 1rem;
}

.criar button:hover {
    background: var(--blue);
}

.criar input {
    background: var(--gray-500);
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    height: 54px;
    text-indent: 1rem;
}